<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不同行业股票数量</title>
    <link rel="stylesheet" href="/static/css/layui.css">
    <script type="text/javascript" src="/static/js/layui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
</head>
<body>
<div>
<form class="layui-form" action="" style="padding-left: 35px;display: flex">
    <div class="layui-inline">
        <label class="layui-form-label">选择日期</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="part_dt" id="t1">
            <button class="layui-btn layui-btn-sm layui-btn-radius layui-border-orange" lay-submit lay-filter="formDemo">点击确认</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form','layer','laydate'], function(){
        var form = layui.form;
        var laydate=layui.laydate;
        var layer=layui.layer;

        var date = new Date();
        var day =date.getDate()-1 ; //日
        var month=date.getMonth()+1 ; //月
        var year=date.getFullYear(); //年
        laydate.render({
            elem: '#t1',//指定元素
            format:"yyyyMMdd",
            min: '2023-03-14',
            max: year+"-"+month+"-"+day,
            theme:'grid',
            calendar: true
        });

        function topData(part_dt) {
            $.ajax({
                    type: "GET",
                    url: "/stock/categoryDate",
                    contentType: "application/json",
                    data: {"part_dt":part_dt},
                    async: false,
                    success: function (res) {
                        console.log(res + "成功")
                    },
                    error: function (msg) {
                        console.log(msg + "失败了")
                    }
                }
            );
        }
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg("提交登录表单: "+JSON.stringify(data.field),{icon:6});
            var part_dt=data.field.part_dt;
            topData(part_dt);
            location.reload();
            return false;
        });
    });
</script>
<div id="container" style="height: 750px">
</div>
<script type="text/javascript">
    // 定义x、y轴数据数组
    var data=[];
    var temp;
    //请求后台数据
    $.ajax({
        type: "get",
        url: "/stock/categoryNumber",
        async:false,
        contentType: "application/json",
        success: function(res){
            for (var i = 0; i < res.length; i++) {
                temp={value:res[i].num,name:res[i].category};
                data.push(temp);
            }
        }
    });

    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
        renderer: 'canvas',
        useDirtyRect: false
    });
    var app = {};

    var option;

    option = {
        // grid:[
        //     {
        //         top: '-30%',
        //         left: '30%'
        //     }
        // ],
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            top: 'bottom'
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        series: [
            {
                name: 'Nightingale Chart',
                type: 'pie',
                radius: [50, 250],
                center: ['50%', '38%'],
                roseType: 'area',
                itemStyle: {
                    borderRadius: 4
                },
                data: data
            }
        ]
    };

    if (option && typeof option === 'object') {
        myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
</script>
</div>
</body>
</html>