<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>涨跌幅TOP</title>
    <link rel="stylesheet" href="/static/css/layui.css">
    <script type="text/javascript" src="/static/js/layui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
</head>
<body>
<div style="height: 40px"></div>
<div >
    <div class="layui-container">
        <form class="layui-form" action="" style="padding-left: 250px;display: flex">
            <div class="layui-form-item">
                <label class="layui-form-label">涨跌幅</label>
                <div class="layui-input-block">
                    <input type="radio" name="sh" value="desc" title="涨">
                    <input type="radio" name="sh" value="asc" title="跌">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择粒度</label>
                <div class="layui-input-block">
                    <input type="radio" name="part_dt" value="ads_filter_stock_usa_day" title="day">
                    <input type="radio" name="part_dt" value="ads_usa_td_stock_chg_view_week" title="week">
                    <input type="radio" name="part_dt" value="ads_usa_td_stock_chg_view_month" title="month">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layui-border-orange" lay-submit lay-filter="formDemo">点击确认</button>
                </div>
            </div>
        </form>

        <script>
            //Demo
            layui.use('form', function(){
                var form = layui.form;

                function topData(ln,tab,date) {
                    $.ajax({
                            type: "GET",
                            url: "/stock/chgValue",
                            contentType: "application/json",
                            data:{"ln":ln,"tab":tab,"date":date},
                            async:false,
                            success: function(res){
                                console.log("=====res1: 成功=======")
                            },
                            error:function (msg){
                                console.log(msg+"失败了")
                            }
                        }
                    );
                }
                //监听提交
                form.on('submit(formDemo)', function(data){
                    layer.msg("提交登录表单: "+JSON.stringify(data.field),{icon:6});
                    var dt=data.field.part_dt;
                    var ln=data.field.sh;
                    var tab='stock_ads.'+dt;
                    var date=1;
                    topData(ln,tab,date);

                    location.reload();
                    return false;
                });
            });

        </script>
        <div id="container" style="height: 650px"></div>
        <script type="text/javascript">

            // 定义x、y轴数据数组
            var cname=[];
            var symbol=[];
            var chg=[];
            //请求后台数据
            $.ajax({
                type: "get",
                url: "/stock/chgList",
                async:false,
                contentType: "application/json",
                success: function(res){
                    for (var i = 0; i < res.length ; i++) {
                        cname.push(res[i].cname);
                        symbol.push(res[i].symbol);
                        chg.push(res[i].chg);
                    }
                }
            });

            var dom = document.getElementById('container');
            var myChart = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
            });
            var app = {};

            var option;

            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                title: {
                    left: 'center',
                    text: '涨跌幅（%）折线图'
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: cname
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: chg,
                        type: 'line',
                        areaStyle: {}
                    }
                ]
            };

            if (option && typeof option === 'object') {
                myChart.setOption(option);
            }
            window.addEventListener('resize', myChart.resize);

        </script>
    </div>
</div>
</body>
</html>